<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
    <link rel="stylesheet" type="text/css" href="{__1INDEX__}/css/style.css">
    <link href="{__1INDEX__}/css/swiper.css" rel="stylesheet">
    <link href="{__SEMANTIC__}/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{__1INDEX__}/css/left-side-menu.css">
    <link rel="stylesheet" type="text/css" href="{__1INDEX__}/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="{__1INDEX__}/font/iconfont.css">
    <script src="{__1INDEX__}/js/jquery.min.js"></script>
    <script src="{__1INDEX__}/layui/layui.js"></script>
    <title>i 港湾</title>
</head>
<body>
    <div class="we_header"> 
        <div class="limit">
            <a style="color:#fff;font-size:22px" class="logo" href="{:url('/index')}">
                i 港湾
            </a>
            <div class="home">
                <a href="{:url('/index')}" class=" page ipage_l">
                    <i class="layui-icon layui-icon-home" style="font-size: 22px; color:  aqua;"></i>
                    <span class="z_home">首页</span>
                </a>
                <a href="" class="page ipage_r" >
                    <i class="layui-icon layui-icon-download-circle" style="font-size: 22px; color: #fff;"></i>
                    <span class="z_home">下载</span>
                </a>
                 
            </div>
            <?php if (session('?uname')):?>
                <div class="i_right">
                <ul>
                    <li>
                        <a id="<?php echo session('uid') ?>" href="{:url('/person/index')}?id=<?php echo session('uid') ?>" class="i_login"><?php echo session('uname') ?>&nbsp;&nbsp;欢迎回来！</a>
                    </li>
                    <li>
                        <a   href="{:url('/index/logout')}"><i class="layui-icon layui-icon-logout" style="font-size: 18px; color: #fff;"></i>&nbsp;退出</a>
                    </li>
                     
                </ul>
            </div>
            <?php else:?>
            <div class="i_right">
                <ul>
                    <li>
                        <a href="{:url('/login/index')}"   class="i_login">登录</a>
                    </li>
                    <li>
                        <a  href="{:url('/reg/index')}" class="i_reg index">注册</a>
                    </li>
                     
                </ul>
            </div>
            <?php endif?>
        </div>
    </div>
    
    